<div id="pagepiling">
  <div class="section" id="section1">
    <%= render "countdown" %>
  </div>
  <div class="section" id="section2">
    <%= render "about_us" %>
  </div>
  <div class="section" id="section3">
    <%= render "our_story" %>
  </div>
  <div class="section" id="section4">
    <%= render "gallery" %>
  </div>
  <div class="section" id="section5">
    <%= render "friends_wishes" %>
  </div>
  <div class="section" id="section6">
    <%= render "event" %>
  </div>
  <div class="section" id="section7">
    <%= render "invitation" %>
  </div>
</div>
